<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rus %>
    <%= form.text_field :rus, id: :word_rus %>
  </div>

  <div class="field">
    <%= form.label :kub %>
    <%= form.text_field :kub, id: :word_kub %>
  </div>

  <div class="field">
    <%= form.label :word_category_id %>
    <%= form.text_field :word_category_id, id: :word_word_category_id %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :word_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
