<p id="notice"><%= notice %></p>

<p>
  <strong>Rus:</strong>
  <%= @word.rus %>
</p>

<p>
  <strong>Kub:</strong>
  <%= @word.kub %>
</p>

<p>
  <strong>Word category:</strong>
  <%= @word.word_category %>
</p>

<p>
  <strong>Body:</strong>
  <%= @word.body %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
