<%= form_with(model: word_category, local: true) do |form| %>
  <% if word_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_category.errors.count, "error") %> prohibited this word_category from being saved:</h2>

      <ul>
      <% word_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :word_category_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :word_category_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
