<p id="notice"><%= notice %></p>

<h1>Word Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_categories.each do |word_category| %>
      <tr>
        <td><%= word_category.name %></td>
        <td><%= word_category.body %></td>
        <td><%= link_to 'Show', word_category %></td>
        <td><%= link_to 'Edit', edit_word_category_path(word_category) %></td>
        <td><%= link_to 'Destroy', word_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word Category', new_word_category_path %>
